extends layout

block content
  h1 This site requires access to your location. I am not storing any of this information in any way.
  h2 Here's the closest few places where you can get a pizza!
  h4 Click the name to go to the yelp page, or if you're on a phone, tap the number to call!
  #output
