html
  head
    title Emergency Pizza!
    link(rel="stylesheet", href="stylesheets/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .wrap
      block content
    
    script(src="//code.jquery.com/jquery-2.2.1.min.js")
    script(src="js/client.js")
